<html>
  <head>
    <meta charset="utf-8">

    <canvas id="canv" width="224" height="224" style="background-color: #000000;"></canvas><br>
    <script src="nn_stuff.js"></script>
    <!--<canvas id="canv" width="128" height="64" style="background-color: #000000;"></canvas><br>-->
    <button id="send">Определить</button><button id="clear">Стереть</button><br><br>
    <span style="font-size: 25dp" id="result"></span><br>
    <span style="font-size: 25dp" id="time"></span><br><br>
  </head>
  <body style="touch-action: none;">
    <script>


        var canvas = document.getElementById("canv");
          var context = canvas.getContext("2d");

          var w = canvas.width;
          var h = canvas.height;
          context.fillStyle = "black";
          context.fillRect(0, 0, w, h);

          var mouse = {x: 0, y: 0};
          var draw = false;

          canvas.addEventListener("pointerdown", function(e) {
              mouse.x = e.pageX - this.offsetLeft;
              mouse.y = e.pageY - this.offsetTop;
              draw = true;
          });
          canvas.addEventListener("pointermove", function(e) {
              if (draw == true) {
                  mouse.x = e.pageX - this.offsetLeft;
                  mouse.y = e.pageY - this.offsetTop;

                  context.fillStyle = "white";
                  context.beginPath();
                  context.ellipse(mouse.x, mouse.y, 6, 6, 0, 0, 2 * Math.PI);
                  context.fill();
              }
          });
          canvas.addEventListener("pointerup", function(e) {
              mouse.x = e.pageX - this.offsetLeft;
              mouse.y = e.pageY - this.offsetTop;
              draw = false;
          });
          var clear = document.getElementById("clear");
          clear.addEventListener("click", function() {
              context.fillStyle = "black";
              context.fillRect(0, 0, w, h);
          });

          var snd = document.getElementById("send");
          snd.addEventListener("click", function() {
            console.time("process");
            var arr = process_image(canvas);
            console.timeEnd("process");
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/pred340");
            xhr.setRequestHeader("Content-type", "text/json");
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    document.getElementById("result").innerHTML = "This is " + xhr.responseText;
                }
            }
            xhr.send(JSON.stringify({"res": arr}));
          });


    </script>
  </body>

</html>
